
$table-border-color: #F4F5F7;   // 表格边框颜色
$table-icon-color: #5BBBBB;     // 表格操作按钮颜色

// 头部操作按钮位置
@mixin header-option-align($direction) {
  width: calc(49% - 5px);
  float: $direction;
  @if($direction == left){
    padding-left: 5px;
  }
  @if($direction == right){
    padding-right: 5px;
  }
  & > ul {
    float: $direction;
    & > li {
      float: left;
      padding: 9px 5px;
      & i {
        font-size: 20px;
        color: $table-icon-color;
        cursor: pointer;
        &:hover {
          color: #4686b5;
        }
      }
    }
  }
}

.hatech {



  & .hatech-search {
    margin: 5px;
    padding: 10px;
    background: white;
    clear: left;
    & /deep/ .el-form{
      & .el-input__inner {
        height: 35px;
        line-height: 35px;
        padding: 0 5px;
      }
      & .el-form-item {
        margin-bottom: 0px;
      }
    }
  }

  & .hatech-table {
    margin: 5px;
    padding: 0;
    clear: left;
    & .hatech-table-header {
      display: block;
      width: calc(100% - 2px);
      border: 1px solid $table-border-color;
      border-bottom: none;
      float: left;
      background: white;
      & div > ul {
        padding: 0;
        margin: 0;
        & > li {
          position: relative;
          padding: 0;
          margin: 0;
          list-style: none;
        }
      }

      & .hatech-table-header-left{
        @include header-option-align(left);
      }
      & .hatech-table-header-right{
        @include header-option-align(right);
      }
    }

    & .hatech-table-body {
      & /deep/ {
        & .el-table--border td,
        & .el-table--border th,
        & .el-table__body-wrapper
        & .el-table--border.is-scrolling-left~.el-table__fixed {
          border-right: 1px solid $table-border-color;
        }
      }
      & /deep/ .el-table {

        & .has-gutter {
          & th{
            background-color: #fafafa;
          }
        }
        & td, & th {
          padding: 3px 0;
        }
        & td,
        & th.is-leaf {
          border-bottom: 1px solid $table-border-color;
        }
        & .caret-wrapper {
          height: 30px;
          width: 10px;
          & .sort-caret.ascending {
            top: 2px;
          }
          & .sort-caret.descending {
            bottom: 5px;
          }
        }

        & .descending .sort-caret.descending {
          border-top-color: $table-icon-color;
        }

        & i{
          font-size: 18px;
          position: relative;
          top: 4px;
          cursor: pointer;
          color: $table-icon-color;
          margin-right: 5px;
        }
        & .table-icon{
          margin-left: 5px;
        }
      }
    }

    & .hatech-table-footer {
      display: block;
      width: calc(100% - 2px - 30px * 2);
      padding: 5px 30px;
      border: 1px solid $table-border-color;
      border-top: none;
      overflow: hidden;
      background: white;
      & /deep/ {
        & .el-pagination.is-background {
          & .el-pager{
            & li:not(.disabled).active {
              background-color: #5BBBBB;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
