
/**
 * 导入修改elementUI的样式
 */
@import "element-ui";

/**
 * 导入函数工具类
 */
@import "./mixin/function";


html,body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
    overflow: hidden;
    background: $hatech-content-color;
}

/**
 * 系统十二宫格布局设定
 */
@for $i from 1 through 12 {
    .hatech-cell-#{$i} {
        width: calc((100% / 12 * #{$i} - 10px));
    }
}

/**
 * 修改消息提示弹出框样式
 */
.hatech-fmt-item{
    height: 100%;
}

.hatech-fmt{
    @include table-data-formatter(auto);
}
.hatech-fmt-hand{
    @include table-data-formatter(pointer);
}


.hatech-success{
   background: $hatech-success;
 }
.hatech-warning{
  background: $hatech-warning;
}
.hatech-danger{
  background: $hatech-warning;
}
.hatech-info{
  background: $hatech-info;
}
