
/**
 * 导入修改elementUI的样式
 */
@import "element-ui";

/**
 * 导入函数工具类
 */
@import "./mixin/function";


html,body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    padding: 0;
    margin: 0;

}

#app {
    height: 100%;
    background: $hatech-content-color;
    overflow: hidden;
}

/**
 * 系统十二宫格布局设定
 */
@for $i from 1 through 12 {
    .hatech-cell-#{$i} {
        width: calc((100% / 12 * #{$i} - 10px));
    }
}

/**
 * 系统消息提示背景颜色设定
 */
@for $i from 1 through length($hatech-option-color) {
    $item: nth($hatech-option-color, $i);
    .hatech-#{map_get($item, name)} {
        background-color: map_get($item, color);
    }
}

.hatech-fmt{
    @include table-data-formatter(auto);
}
.hatech-fmt-hand{
    @include table-data-formatter(pointer);
}
