
/**
 * 导入函数工具类
 */
@import "./mixin/function";

#navigation{
    & .is-hide {
        overflow: hidden;
        max-height: 0;
        -webkit-transition: max-height .3s;
        transition: max-height .3s;
    }

    & .is-show {
        max-height: 400px;
        overflow: hidden;
        -webkit-transition: max-height 1s;
        transition: max-height 1s;
    }
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-size: 12px;
    & li {
        list-style: none;
        & i {
            font-size: 16px;
        }
    }

    & ul {
        padding: 0;
        margin: 0;
        width: 182px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        & li {
            clear: both;
            cursor: pointer;
            margin-top: 1px;
            &.active {
                background: $hatech-left-nav-first-color;
                &:hover {
                    background: $hatech-left-nav-first-color;
                }
            }
            &:hover {
                background: $hatech-left-nav-first-color;
            }
            & > span {
                position: relative;
                display: inline-block;
                line-height: 30px;
                padding-left: 10px;
                color: white;
                &:nth-child(2) {
                    float: right;
                    margin-right: 10px;
                }
                & .caret {
                    position: absolute;
                    right: -10px;
                    top: 7px;
                    color: $hatech-left-nav-choose-color;
                }
            }
            & div.child ul li {
                padding-left: 20px;
                cursor: pointer;
                &:hover {
                    background: $hatech-left-nav-child-color;
                }
                &.active {
                    background: $hatech-left-nav-child-color;
                }
            }
        }
    }
}
