

$hatech-background-color: hotpink;        // demo测试背景色

$hatech-content-color: #F5F5F5;           // 系统主要内容区域背景颜色

$hatech-left-nav-first-color: #113131;    // 左侧导航一级菜单颜色（包括选中颜色、滑过颜色）
$hatech-left-nav-child-color: #2E9E98;    // 左侧导航二级菜单颜色（包括选中颜色、滑过颜色）
$hatech-left-nav-choose-color: #EAEAEA;   // 左侧导航选中箭头颜色

$hatech-success: #67C23A;                 // 成功操作颜色
$hatech-warning: #E6a23c;                 // 警告操作颜色
$hatech-danger: #F98B8B;                  // 危险操作颜色
$hatech-info: #8EB9F1;                    // 信息操作颜色

$table-border-color: #EBEEF5;             // 表格边框颜色
$table-icon-color: #5BBBBB;               // 表格操作按钮颜色
$table-icon-hover-color: #4686B5;         // 表格操作按钮悬浮颜色
$table-first-line-color: #F9F9F9;         // 表格第一行（列头）背景颜色

$hatech-line-color: #F1EFEF;              // 表格弹出层头部（下边框），底部（上边框）边框颜色
